# Scraping Script

## Import packages

In [1]:
import pandas as pd
import numpy as np
#from selenium import webdriver
#from selenium.webdriver.common.keys import Keys
#from selenium.webdriver.support.ui import Select
#from selenium.webdriver.chrome.service import Service
import requests
from bs4 import BeautifulSoup
import time
import re
import string

from datetime import date

import datetime
import statistics


from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier

## Specify Path

In [2]:
url = 'http://www.olympedia.org/results/19000437'

## Get 2021 results

In [3]:
dfs = pd.read_html('http://www.olympedia.org/results/19000437',encoding='utf8')

In [4]:
#Get the right dataframe
dat_2021 = dfs[1]
#Get rid of no-finishers
dat_2021_clean = dat_2021[dat_2021.Pos != "AC"][['Athlete', 'NOC', 'Time']]
#get time in a consistent format
hours = dat_2021_clean.Time.apply(lambda x: int(x[0]))
minutes = dat_2021_clean.Time.apply(lambda x: int(x[2:4]))
seconds = dat_2021_clean.Time.apply(lambda x: int(x[5:7]))
dat_2021_clean.Time = hours * 3600 + minutes * 60 + seconds
print(dat_2021_clean)

               Athlete  NOC  Time
0       Eliud Kipchoge  KEN  7718
1         Abdi Nageeye  NED  7798
2          Bashir Abdi  BEL  7800
3     Lawrence Cherono  KEN  7802
4       Ayad Lamdassem  ESP  7816
..                 ...  ...   ...
71          Cam Levins  CAN  8923
72        Yuma Hattori  JPN  9008
73   José Juan Esparza  MEX  9111
74  Jorge Castelblanco  PAN  9202
75          Iván Zarco  HON  9876

[76 rows x 3 columns]

## Get 2021 athlete data

In [5]:
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

In [6]:
#Get athlete id's so that I can parse through the profile pages
athlete_id = []
i = 0
for a in soup.find_all('a', href=True):
    if a['href'][1:9] == 'athletes':
        athlete_id.append(a['href'][9:])
        i = i + 1

print(athlete_id)
athlete_id_clean = list(set(athlete_id[4:]))
print(athlete_id_clean)

['/advanced_search', '/doubles', '/lists', '', '/106584', '/135227', '/132653', '/144850', '/67392', '/69768', '/106584', '/135227', '/132653', '/144850', '/114976', '/134721', '/136037', '/114968', '/145178', '/132658', '/145176', '/142827', '/134570', '/133618', '/141947', '/142364', '/142824', '/145175', '/141817', '/144130', '/142465', '/142383', '/133433', '/132466', '/132961', '/134124', '/114615', '/143958', '/147332', '/143340', '/140468', '/141808', '/142470', '/135671', '/142382', '/135358', '/143959', '/145959', '/120054', '/135341', '/89097', '/145428', '/135426', '/146996', '/142815', '/141483', '/144146', '/141492', '/134922', '/143348', '/146995', '/146958', '/140469', '/124091', '/135173', '/145268', '/122508', '/134501', '/140992', '/135431', '/140878', '/144527', '/145960', '/145776', '/145269', '/132458', '/145131', '/133733', '/123438', '/142157', '/134504', '/120197', '/144540', '/145267', '/135424', '/147801', '/144844', '/145536', '/123446', '/142618', '/146504', '/145540', '/145966', '/143093', '/146420', '/108281', '/2103054', '/135927', '/144147', '/133962', '/147049', '/125475', '/141946', '/142624', '/141296', '/147055', '/140877', '/143889', '/144971', '/132956', '/121155', '/146786', '/141194', '/115508', '/142623', '/140719', '/121534']
['/146995', '/134570', '/135671', '/108281', '/142618', '/132458', '/144540', '/121155', '/132956', '/143889', '/142827', '/142624', '/135431', '/134922', '/134124', '/134721', '/120197', '/106584', '/133618', '/146958', '/123438', '/120054', '/142815', '/145960', '/142364', '/145428', '/145178', '/144146', '/146504', '/142623', '/140468', '/134504', '/140719', '/122508', '/145966', '/123446', '/135358', '/145540', '/2103054', '/145268', '/147055', '/145269', '/144844', '/146996', '/146786', '/147332', '/132658', '/142465', '/142157', '/132653', '/141492', '/140992', '/135927', '/69768', '/145959', '/142824', '/136037', '/121534', '/142382', '/143348', '/89097', '/141296', '/145131', '/144130', '/133962', '/144971', '/147049', '/142470', '/135227', '/144527', '/145776', '/135424', '/115508', '/133733', '/132961', '/141946', '/145176', '/135426', '/145267', '/141808', '/135173', '/144850', '/125475', '/146420', '/133433', '/143340', '/124091', '/132466', '/147801', '/67392', '/141194', '/142383', '/145175', '/114615', '/140878', '/145536', '/144147', '/135341', '/143093', '/141483', '/141947', '/114968', '/143958', '/114976', '/143959', '/134501', '/141817', '/140469', '/140877']

In [7]:
#parse through athlete profiles
ath_url = 'http://www.olympedia.org/athletes'
ath_list = []
for ath in athlete_id_clean:
    ath_list.append(pd.read_html(ath_url + ath, encoding='utf8'))

In [8]:
#Get athlete attribute table from the athlete profiles
ath_attr = []
for attr in ath_list:
    for tables in attr:
        if tables.iloc[0,0] == 'Type':
            tables.columns = ['attr', 'val']
            column_names = tables.attr.to_numpy()
            value_names = tables.val.to_numpy()
            new_table = pd.DataFrame(value_names.reshape(-1, len(value_names)), columns = column_names)
            ath_attr.append(new_table)


print(ath_attr)

[                        Type   Sex         Full name         Used name  \
0  Competed in Olympic Games  Male  Filex•Chemongesi  Filex•Chemongesi

             Born     NOC
0  19 August 1993  Uganda  ,                         Type   Sex            Full name     Used name  \
0  Competed in Olympic Games  Male  Marhu Abinet•Teferi  Marhu•Teferi

  Original name                       Born    Measurements     NOC
0     טפרי•מארו  17 August 1992 in ? (ETH)  164 cm / 52 kg  Israel  ,                         Type   Sex     Full name     Used name Nick/petnames  \
0  Competed in Olympic Games  Male  Elroy•Gelant  Elroy•Gelant           Roy

                             Born    Measurements          Affiliations  \
0  25 August 1986 in George (RSA)  175 cm / 61 kg  Boxer Athletics Club

            NOC
0  South Africa  ,                         Type   Sex           Full name           Used name  \
0  Competed in Olympic Games  Male  Bat-Ochiryn•Ser-Od  Bat-Ochiryn•Ser-Od

  Nick/petnames Name order      Original name  \
0         Ziggy   Oriental  Бат-Очирын•Сэр-Од

                                    Born    Measurements  \
0  7 October 1981 in ?, Govi-Altai (MGL)  169 cm / 61 kg

                      Affiliations       NOC
0  Morpeth Harriers, Morpeth (GBR)  Mongolia  ,                         Type   Sex            Full name      Used name  \
0  Competed in Olympic Games  Male  Lelisa•Desisa Benti  Lelisa•Desisa

              Born       NOC
0  14 January 1990  Ethiopia  ,                         Type   Sex       Full name       Used name  \
0  Competed in Olympic Games  Male  Brett•Robinson  Brett•Robinson

                                                Born    Measurements  \
0  8 May 1991 in Florey, Australian Capital Terri...  176 cm / 60 kg

           Affiliations        NOC
0  Melbourne Track Club  Australia  ,                         Type   Sex     Full name     Used name  \
0  Competed in Olympic Games  Male  Yuma•Hattori  Yuma•Hattori

               Born    NOC
0  13 November 1993  Japan  ,                         Type   Sex          Full name          Used name  \
0  Competed in Olympic Games  Male  Stephen•Kiprotich  Stephen•Kiprotich

                                  Born    Measurements Affiliations     NOC
0  27 February 1989 in Kapchorwa (UGA)  172 cm / 56 kg      Prisons  Uganda  ,                         Type   Sex           Full name     Used name  \
0  Competed in Olympic Games  Male  Alemu•Bekele Gebre  Alemu•Bekele

  Original name                         Born    Measurements      NOC
0  أليمو•بيكيلي  23 March 1990 in Lemu (ETH)  162 cm / 59 kg  Bahrain  ,                         Type   Sex         Full name         Used name  \
0  Competed in Olympic Games  Male  Stephen•Scullion  Stephen•Scullion

              Born                 Affiliations      NOC
0  9 November 1988  Clonliffe Harriers AC (IRL)  Ireland  ,                         Type   Sex        Full name        Used name  \
0  Competed in Olympic Games  Male  Nicolas•Navarro  Nicolas•Navarro

            Born     NOC
0  12 March 1991  France  ,                         Type   Sex    Full name    Used name  \
0  Competed in Olympic Games  Male  Sisay•Lemma  Sisay•Lemma

               Born       NOC
0  12 December 1990  Ethiopia  ,                         Type   Sex                         Full name  \
0  Competed in Olympic Games  Male  Cristhian Simeón•Pacheco Mendoza

           Used name                           Born    Measurements   NOC
0  Cristhian•Pacheco  26 May 1993 in Huancayo (PER)  162 cm / 50 kg  Peru  ,                         Type   Sex      Full name      Used name Name order  \
0  Competed in Olympic Games  Male  Sim•Jong-Seop  Sim•Jong-Seop   Oriental

  Original name    Other names              Born    Measurements  \
0          심•종섭  Shim Jung-Sub  21 February 1991  168 cm / 58 kg

                 NOC
0  Republic of Korea  ,                         Type   Sex       Full name       Used name  \
0  Competed in Olympic Games  Male  Richard•Ringer  Richard•Ringer

                                                Born    Measurements  \
0  27 February 1989 in Überlingen, Baden-Württemb...  182 cm / 62 kg

                                 Affiliations      NOC
0  VfB Friedrichshafen, Friedrichshafen (GER)  Germany  ,                         Type   Sex     Full name     Used name Original name  \
0  Competed in Olympic Games  Male  Suguru•Osako  Suguru•Osako          大迫•傑

                                  Born    Measurements  \
0  23 May 1991 in Machida, Tokyo (JPN)  170 cm / 53 kg

                     Affiliations    NOC
0  Waseda University, Tokyo (JPN)  Japan  ,                         Type   Sex             Full name   Used name  \
0  Competed in Olympic Games  Male  Cameron "Cam"•Levins  Cam•Levins

                                                Born    Measurements  \
0  28 March 1989 in Campbell River, British Colum...  178 cm / 65 kg

                                        Affiliations     NOC
0  Southern Utah Thunderbirds, Cedar City (USA) /...  Canada  ,                         Type   Sex       Full name       Used name  \
0  Competed in Olympic Games  Male  Eliud•Kipchoge  Eliud•Kipchoge

                                  Born    Measurements    NOC
0  5 November 1984 in Kapsisiywa (KEN)  167 cm / 57 kg  Kenya  ,                         Type   Sex     Full name     Used name  \
0  Competed in Olympic Games  Male  Goitom•Kifle  Goitom•Kifle

              Born      NOC
0  3 December 1993  Eritrea  ,                         Type   Sex     Full name     Used name          Born  \
0  Competed in Olympic Games  Male  Yavuz•Ağralı  Yavuz•Ağralı  9 April 1992

      NOC
0  Turkey  ,                         Type   Sex                       Full name  \
0  Competed in Olympic Games  Male  Paulo Roberto•de Almeida Paula

             Used name                                      Born  \
0  Paulo Roberto•Paula  8 July 1979 in Pacaembu, São Paulo (BRA)

     Measurements                                       Affiliations     NOC
0  170 cm / 55 kg  Cruzeiro Sport Club , Cruzeiro, BRA / Luasa/Ca...  Brazil  ,                         Type   Sex          Full name          Used name  \
0  Competed in Olympic Games  Male  Olivier•Irabaruta  Olivier•Irabaruta

                               Born    Measurements  \
0  25 August 1990 in Muramvya (BDI)  170 cm / 62 kg

                                        Affiliations      NOC
0  Atletica Casone Noceto (ITA) / US Quercia Tren...  Burundi  ,                         Type   Sex      Full name      Used name        Born  \
0  Competed in Olympic Games  Male  Hassan•Chahdi  Hassan•Chahdi  7 May 1989

      NOC
0  France  ,                         Type   Sex                Full name  \
0  Competed in Olympic Games  Male  Arkadiusz•Gardzielewski

                 Used name          Born     NOC
0  Arkadiusz•Gardzielewski  12 June 1986  Poland  ,                         Type   Sex              Full name  \
0  Competed in Olympic Games  Male  Tachlowini•Gabriyesos

               Used name            Born                   NOC
0  Tachlowini•Gabriyesos  1 January 1998  Refugee Olympic Team  ,                         Type   Sex              Full name  \
0  Competed in Olympic Games  Male  Tomas Hilifa•Rainhold

               Used name             Born      NOC
0  Tomas Hilifa•Rainhold  7 February 1991  Namibia  ,                         Type   Sex          Full name          Used name  \
0  Competed in Olympic Games  Male  Othmane•El-Goumri  Othmane•El-Goumri

   Original name                       Born                      Affiliations  \
0  عثمان•الكومري  28 May 1992 in Safi (MAR)  Olympic Club de Safi, Safi (MAR)

       NOC
0  Morocco  ,                         Type   Sex            Full name            Used name  \
0  Competed in Olympic Games  Male  Yassine•El-Fathaoui  Yassine•El-Fathaoui

                            Born    NOC
0  23 March 1982 in Belfaa (MAR)  Italy  ,                         Type   Sex        Full name        Used name  \
0  Competed in Olympic Games  Male  John•Hakizimana  John•Hakizimana

              Born     NOC
0  26 October 1996  Rwanda  ,                         Type   Sex     Full name     Used name         Born  \
0  Competed in Olympic Games  Male  Shura•Kitata  Shura•Kitata  9 June 1996

        NOC
0  Ethiopia  ,                         Type   Sex      Full name      Used name  \
0  Competed in Olympic Games  Male  Eulalio•Muñoz  Eulalio•Muñoz

  Nick/petnames                             Born        NOC
0          Coco  16 July 1995 in Gualjaina (ARG)  Argentina  ,                         Type   Sex     Full name     Used name  \
0  Competed in Olympic Games  Male  Paul•Pollock  Paul•Pollock

                                                Born    Measurements  \
0  25 June 1986 in Holywood, Down, Northern Irela...  177 cm / 57 kg

                                Affiliations      NOC
0  Annadale Striders Athletics Club, Belfast  Ireland  ,                         Type   Sex    Full name    Used name  \
0  Competed in Olympic Games  Male  Jack•Rayner  Jack•Rayner

                                            Born        NOC
0  19 December 1995 in Melbourne, Victoria (AUS)  Australia  ,                         Type   Sex     Full name     Used name Name order  \
0  Competed in Olympic Games  Male  Dong•Guojian  Dong•Guojian   Oriental

  Original name                                 Born    Measurements  \
0          董•国建  16 March 1987 in Dali, Yunnan (CHN)  170 cm / 55 kg

                                   Affiliations                         NOC
0  Yunnan Province [People's Republic of China]  People's Republic of China  ,                         Type   Sex         Full name         Used name  \
0  Competed in Olympic Games  Male  Marcin•Chabowski  Marcin•Chabowski

           Born     NOC
0  28 June 1986  Poland  ,                         Type   Sex       Full name       Used name  \
0  Competed in Olympic Games  Male  Stephen•Mokoka  Stephen•Mokoka

                                Born    Measurements  \
0  31 January 1985 in Mahikeng (RSA)  157 cm / 52 kg

                           Affiliations           NOC
0  Transnet Athletic Club, Durban (RSA)  South Africa  ,                         Type   Sex       Full name       Used name  \
0  Competed in Olympic Games  Male  Zane•Robertson  Zane•Robertson

   Nick/petnames                                         Born    Measurements  \
0  Running Elvis  14 November 1989 in Waikato, Hamilton (NZL)  185 cm / 62 kg

                          Affiliations          NOC
0  Hamilton City Hawks, Hamilton (NZL)  New Zealand  ,                         Type   Sex        Full name        Used name  \
0  Competed in Olympic Games  Male  Khalid•Choukoud  Khalid•Choukoud

            Born          NOC
0  23 March 1986  Netherlands  ,                                                 Type   Sex  \
0  Competed in Olympic Games, Competed in Youth O...  Male

                       Full name             Used name          Born     NOC
0  Daniel•Ferreira do Nascimento  Daniel•do Nascimento  28 July 1998  Brazil  ,                         Type   Sex                Full name  \
0  Competed in Olympic Games  Male  José Luis•Santana Marín

           Used name               Born     NOC
0  José Luis•Santana  26 September 1989  Mexico  ,                         Type   Sex                    Full name  \
0  Competed in Olympic Games  Male  Mykola Mykolayovych•Nyzhnyk

        Used name              Original name          Born      NOC
0  Mykola•Nyzhnyk  Микола Миколайович•Нижник  26 July 1995  Ukraine  ,                         Type   Sex                 Full name     Used name  \
0  Competed in Olympic Games  Male  Juan Joel•Pacheco Orozco  Juan•Pacheco

               Born     NOC
0  11 December 1990  Mexico  ,                         Type   Sex           Full name     Used name  \
0  Competed in Olympic Games  Male  Amos Choge•Kipruto  Amos•Kipruto

                Born    NOC
0  16 September 1992  Kenya  ,                         Type   Sex    Full name    Used name            Born  \
0  Competed in Olympic Games  Male  Fred•Musobo  Fred•Musobo  12 August 1996

      NOC
0  Uganda  ,                         Type   Sex            Full name            Used name  \
0  Competed in Olympic Games  Male  Gabriel Gerald•Geay  Gabriel Gerald•Geay

                Born                         Affiliations  \
0  10 September 1996  Talent Club of Arusha, Arusha (TAN)

                           NOC
0  United Republic of Tanzania  ,                         Type   Sex    Full name    Used name             Born  \
0  Competed in Olympic Games  Male  Jacob•Riley  Jacob•Riley  2 November 1988

             NOC
0  United States  ,                         Type   Sex   Full name   Used name  \
0  Competed in Olympic Games  Male  Koen•Naert  Koen•Naert

                                  Born    Measurements  \
0  3 September 1989 in Roeselare (BEL)  182 cm / 66 kg

                                        Affiliations      NOC
0  Royal Excelsior Sports Club de Bruxelles [RESC...  Belgium  ,                         Type   Sex            Full name     Used name  \
0  Competed in Olympic Games  Male  Daniel•Mateo Angulo  Daniel•Mateo

             Born    NOC
0  31 August 1989  Spain  ,                         Type   Sex      Full name      Used name  \
0  Competed in Olympic Games  Male  Thijs•Nijhuis  Thijs•Nijhuis

                Born      NOC
0  20 September 1992  Denmark  ,                         Type   Sex    Full name    Used name  \
0  Competed in Olympic Games  Male  Bashir•Abdi  Bashir•Abdi

                                  Born    Measurements  \
0  10 February 1989 in Mogadishu (SOM)  176 cm / 56 kg

                                        Affiliations      NOC
0  Topsporthal Vlaanderen (BEL) / NN Running Team...  Belgium  ,                         Type   Sex        Full name        Used name  \
0  Competed in Olympic Games  Male  Trevor•Hofbauer  Trevor•Hofbauer

                                              Born     NOC
0  8 March 1992 in Burnaby, British Columbia (CAN)  Canada  ,                         Type   Sex       Full name       Used name  \
0  Competed in Olympic Games  Male  Dieter•Kersten  Dieter•Kersten

              Born                       Affiliations      NOC
0  25 October 1996  Atletiekclub De Demer [ADD] (BEL)  Belgium  ,                         Type   Sex        Full name        Used name  \
0  Competed in Olympic Games  Male  Tadesse•Abraham  Tadesse•Abraham

                             Born    Measurements Affiliations          NOC
0  12 August 1982 in Asmara (ERI)  178 cm / 61 kg     LC Uster  Switzerland  ,                         Type   Sex                   Full name  \
0  Competed in Olympic Games  Male  Hannes Waldemar•Cierpinski

             Used name                                               Born  \
0  Waldemar•Cierpinski  3 August 1950 in Neugattersleben, Nienburg (Sa...

     Measurements                   Affiliations           NOC
0  170 cm / 59 kg  SV Halle, Halle (Saale) (GER)  East Germany  ,                         Type   Sex     Full name     Used name  \
0  Competed in Olympic Games  Male  Adam•Nowicki  Adam•Nowicki

             Born     NOC
0  24 August 1990  Poland  ,                         Type   Sex       Full name       Used name  \
0  Competed in Olympic Games  Male  Morhad•Amdouni  Morhad•Amdouni

           Born     NOC
0  21 June 1988  France  ,                         Type   Sex             Full name  \
0  Competed in Olympic Games  Male  Alphonce Felix•Simbu

              Used name                               Born Measurements  \
0  Alphonce Felix•Simbu  14 February 1992 in Singida (TAN)        55 kg

                           NOC
0  United Republic of Tanzania  ,                         Type     Sex                      Full name  \
0  Competed in Olympic Games  Female  Alessandra•Perilli (-Pinotti)

            Used name                                  Born    Measurements  \
0  Alessandra•Perilli  1 April 1988 in Rimini, Rimini (ITA)  169 cm / 73 kg

          NOC
0  San Marino  ,                         Type   Sex           Full name           Used name  \
0  Competed in Olympic Games  Male  Oqbe Kibrom•Ruesom  Oqbe Kibrom•Ruesom

             Born      NOC
0  1 January 1998  Eritrea  ,                         Type   Sex         Full name         Used name  \
0  Competed in Olympic Games  Male  Hendrik•Pfeiffer  Hendrik•Pfeiffer

            Born      NOC
0  18 March 1993  Germany  ,                         Type   Sex                    Full name  \
0  Competed in Olympic Games  Male  Abdihakim "Abdi"•Abdirahman

         Used name     Nick/petnames                               Born  \
0  Abdi•Abdirahman  The Black Cactus  1 January 1977 in Mogadishu (SOM)

     Measurements           Affiliations            NOC
0  178 cm / 61 kg  Nike, Beaverton (USA)  United States  ,                         Type   Sex            Full name      Used name  \
0  Competed in Olympic Games  Male  Leche Shumi•Dechasa  Shumi•Dechasa

  Original name                           Born      NOC
0   شومي•ديشاسا  28 May 1989 in Gimbichu (ETH)  Bahrain  ,                         Type   Sex              Full name  \
0  Competed in Olympic Games  Male  Khoarahlane•Seutloali

               Used name           Born      NOC
0  Khoarahlane•Seutloali  30 March 1992  Lesotho  ,                         Type   Sex                Full name    Used name  \
0  Competed in Olympic Games  Male  Eyob•Ghebrehiwet Faniel  Eyob•Faniel

                               Born    NOC
0  26 November 1992 in Asmara (ERI)  Italy  ,                         Type   Sex       Full name       Used name  \
0  Competed in Olympic Games  Male  Callum•Hawkins  Callum•Hawkins

                                                Born    Measurements  \
0  22 June 1992 in Elderslie, Renfrewshire, Scotl...  179 cm / 62 kg

                       Affiliations            NOC
0  Kilbarchan AAC, Kilbarchan (GBR)  Great Britain  ,                         Type   Sex   Full name   Used name Name order  \
0  Competed in Olympic Games  Male  Oh•Ju-Hwan  Oh•Ju-Hwan   Oriental

  Original name                       Other names              Born  \
0          오•주환  Wilson Loyanae Erupe, Oh Joo-Han  20 November 1988

                 NOC
0  Republic of Korea  ,                         Type   Sex                              Full name  \
0  Competed in Olympic Games  Male  Bohdan-Ivan Volodymyrovych•Horodyskyi

                Used name                          Original name  \
0  Bohdan-Ivan•Horodyskyi  Богдан-Іван Володимирович•Городиський

                              Born      NOC
0  18 May 1994 in Lviv, Lviv (UKR)  Ukraine  ,                         Type   Sex           Full name      Used name  \
0  Competed in Olympic Games  Male  Javier•Guerra Polo  Javier•Guerra

               Born    NOC
0  10 November 1983  Spain  ,                         Type   Sex     Full name     Used name Nick/petnames  \
0  Competed in Olympic Games  Male  Abdi•Nageeye  Abdi•Nageeye         Appie

                              Born    Measurements       Affiliations  \
0  2 March 1989 in Mogadishu (SOM)  165 cm / 54 kg  AV Cifla,Nijmegen

           NOC
0  Netherlands  ,                         Type   Sex       Full name       Used name  \
0  Competed in Olympic Games  Male  Shogo•Nakamura  Shogo•Nakamura

                Born    NOC
0  16 September 1992  Japan  ,                         Type   Sex      Full name      Used name  \
0  Competed in Olympic Games  Male  Malcolm•Hicks  Malcolm•Hicks

                                Born Measurements  \
0  19 October 1987 in Auckland (NZL)       184 cm

                                       Affiliations          NOC
0  Wesley Athletic and Harrier Club, Auckland (NZL)  New Zealand  ,                         Type   Sex           Full name           Used name  \

In [9]:
#clean up the data
attr_table = pd.concat(ath_attr).reset_index()
attr_table = attr_table[['Sex', 'Used name', 'Born', 'NOC', 'Measurements']]
#Get birth elements
pattern = '\d+'
attr_table['day'] = attr_table.Born.apply(lambda x: int(re.findall(pattern, x)[0]))
attr_table['year'] = attr_table.Born.apply(lambda x: int(re.findall(pattern, x)[1]))
pattern2 = '\D+(?=\s)'
attr_table['month'] = attr_table.Born.apply(lambda x: re.findall(pattern2, x)[0])
attr_table['age'] = 2021 - attr_table.year
attr_table = attr_table.drop('Born', axis=1)
#Get the used name in correct format
attr_table['Used name'] = attr_table['Used name'].apply(lambda x: x.replace('•', ' '))
#Get height and weight in cm and kg
attr_table['height'] = np.nan
attr_table['weight'] = np.nan
pattern = ' cm'
pattern = '\d+'
for i in range(len(attr_table)):
    if attr_table.Measurements.notna()[i]:
        height_possible = attr_table.Measurements[i].split(' cm')
        if 'k' in attr_table.Measurements[i]:
            weight_possible = attr_table.Measurements[i]
            weight_possible = weight_possible[-5:weight_possible.index("k")]
            attr_table.weight[i] = weight_possible
        if len(height_possible) > 1:
            attr_table.height[i] = height_possible[0]  
attr_table.drop(['Measurements', 'day', 'year', 'month'], inplace = True, axis = 1)
print(attr_table)

      Sex           Used name                         NOC  age  height  weight
0    Male    Filex Chemongesi                      Uganda   28     NaN     NaN
1    Male        Marhu Teferi                      Israel   29   164.0    52.0
2    Male        Elroy Gelant                South Africa   35   175.0    61.0
3    Male  Bat-Ochiryn Ser-Od                    Mongolia   40   169.0    61.0
4    Male       Lelisa Desisa                    Ethiopia   31     NaN     NaN
..    ...                 ...                         ...  ...     ...     ...
104  Male       Haimro Almaya                      Israel   31     NaN     NaN
105  Male       Kevin Seaward                     Ireland   38   175.0    59.0
106  Male        Yang Shaohui  People's Republic of China   29     NaN     NaN
107  Male        Joaquín Arbe                   Argentina   31     NaN     NaN
108  Male     Lemawork Ketema                     Austria   36     NaN     NaN

[109 rows x 6 columns]

<ipython-input-9-f844bd27d9eb>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attr_table.weight[i] = weight_possible
<ipython-input-9-f844bd27d9eb>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attr_table.height[i] = height_possible[0]

In [10]:
#write to csv
dat_2021_clean.to_csv('2021_results.csv', index = False)
attr_table.to_csv('runner_attributes_2021.csv', index = False)

#Get GDP

In [11]:
gdp = pd.read_csv("https://storage.googleapis.com/kagglesdsdata/datasets/1239930/2068732/gdp_csv.csv?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20211201%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20211201T225705Z&X-Goog-Expires=259199&X-Goog-SignedHeaders=host&X-Goog-Signature=5dcdd0bc0de18021bde94600860592795e2d0d3db5dee6acab202d993d060f57971cf70c29ec8c28d36b4a7a9bd1c1ca342460ac8adde9441795d3eac2069a2f3a7536d3ddad431303a9fced5a088d69e28460d965a2cbfbfed4a90f353e1d6128b81b45c680f3b7bd74d639f310690ffeaa5c0fdd35dd9489e31c27c1cad2fc9cdb6c977d8433884299608fb5921192a4d25531e50be8f177450067e9104356ae71392e47d7c324bb7ce9f85f65cabd9f2b30d7ada6fcc59b3186774f011c8e746ca1517139c8a5b07d3c5e36b783912901187c986adba0bd490e06323ec521b16a8889f83a32e326608778c52b17f701e50f89d26236147ee1cd1db7dc9884")
gdp.rename(columns={"Country Code": "Country"}, inplace= True)
gdp.drop(columns= ['Country Name'], inplace= True)

#Get marathon attributes and times

In [12]:
def age(birthdate):
    today = date.today()
    one_or_zero = ((today.month, today.day) < (birthdate.month, birthdate.day))
    year_difference = today.year - birthdate.year
    age = year_difference - one_or_zero
    return age

def year(date):
  return date.year  

def seconds(date):
  return date.total_seconds()

In [13]:
Mara_attr_times = pd.read_csv('running_times.csv')
Mara_attr_times = Mara_attr_times[Mara_attr_times['Event'] == 'Marathon']
Mara_attr_times = Mara_attr_times[Mara_attr_times['Gender'] == 'Men']

# Find number of Marathons
Number_Marathons = Mara_attr_times.groupby("Name").count()
Number_Marathons.reset_index(inplace= True)
Number_Marathons = Number_Marathons.filter(['Name', 'Rank'])
Number_Marathons['Previous marathons'] = Number_Marathons['Rank']

#Convert to Datetime
Mara_attr_times['Date of Birth'] = pd.to_datetime(Mara_attr_times['Date of Birth'])
Mara_attr_times['Date'] = pd.to_datetime(Mara_attr_times['Date'])
Mara_attr_times['Time'] = pd.to_datetime(Mara_attr_times['Time'], format= "%H:%M:%S") - datetime.datetime(1900, 1, 1)

#Clean the data
Mara_attr_times['Year'] = Mara_attr_times['Date'].apply(year)
Mara_attr_times['Age'] = Mara_attr_times['Date of Birth'].apply(age)
Mara_attr_times['Time'] = Mara_attr_times['Time'].apply(seconds)
Mara_attr_times.drop(columns = ['Date of Birth', 'Gender', 'Event', 'Rank', 'Place', 'City'], inplace= True)

#Merge GDP and Previous Marathons
Mara_attr_times = pd.merge(Mara_attr_times, Number_Marathons, on = "Name")
Mara_attr_times = pd.merge(Mara_attr_times, gdp, on = ['Country', 'Year'], how = "left")
Mara_attr_times["GDP"] = Mara_attr_times["Value"]
Mara_attr_times.drop(columns=['Country', 'Value', 'Rank'], inplace= True)

In [14]:
Athlete_events = pd.read_csv("athlete_events.csv")

Athlete_events = Athlete_events[Athlete_events["Sex"] == "M"]

Athlete_events.drop_duplicates(subset=['Name'], inplace= True)
Athlete_events = Athlete_events.filter(['Name','Weight','Height'])

In [15]:
Mara_attr_times = pd.merge(Mara_attr_times, Athlete_events, on = "Name", how = "left")

In [16]:
TND = Mara_attr_times[["Time", "Name", "Date"]]
TND.sort_values(by = ["Name", "Date"], inplace= True)
TND.sort_values(by = ["Name", "Date"], inplace= True, ascending= False)
TND["Last Time"] = np.nan
print(TND)

       Time                   Name       Date  Last Time
916  7684.0        Zithulele Sinqe 1986-05-03        NaN
936  7688.0          Yusuf Songoka 2011-04-10        NaN
953  7694.0          Yuki Kawauchi 2013-03-17        NaN
954  7695.0          Yuki Kawauchi 2013-02-03        NaN
892  7679.0    Yoshiteru Morishita 2001-03-04        NaN
..      ...                    ...        ...        ...
546  7695.0  Abdelkader El Mouaziz 1999-01-31        NaN
545  7687.0  Abdelkader El Mouaziz 1998-04-26        NaN
538  7662.0          Abayneh Ayele 2017-04-09        NaN
536  7605.0          Abayneh Ayele 2016-01-22        NaN
537  7636.0          Abayneh Ayele 2015-10-11        NaN

[999 rows x 4 columns]

<ipython-input-16-79dde42a7183>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TND.sort_values(by = ["Name", "Date"], inplace= True)
<ipython-input-16-79dde42a7183>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TND.sort_values(by = ["Name", "Date"], inplace= True, ascending= False)
<ipython-input-16-79dde42a7183>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TND["Last Time"] = np.nan

In [17]:
for i in range(len(TND)):
 if i < len(TND) - 1:
   if TND.iloc[i,1] == TND.iloc[i+1,1]:
     TND.iloc[i,3] = TND.iloc[i+1,0]
TND.drop(columns= ['Time'], inplace= True)
Mara_attr_times = pd.merge(Mara_attr_times, TND, on = ["Name", "Date"])


Mara_attr_times

C:\Users\ritch\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\ritch\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Time,Name,Date,Year,Age,Previous marathons,GDP,Weight,Height,Last Time
0,7377.0,Dennis Kimetto,2014-09-28,2014,37,5,6.144535e+10,NaN,NaN,7425.0
1,7425.0,Dennis Kimetto,2013-10-13,2013,37,5,5.509734e+10,NaN,NaN,7610.0
2,7456.0,Dennis Kimetto,2012-09-30,2012,37,5,5.041275e+10,NaN,NaN,NaN
3,7550.0,Dennis Kimetto,2015-04-26,2015,37,5,6.376754e+10,NaN,NaN,7377.0
4,7610.0,Dennis Kimetto,2013-02-24,2013,37,5,5.509734e+10,NaN,NaN,7456.0
...,...,...,...,...,...,...,...,...,...,...
996,7704.0,Daniel Kipkorir Chepyegon,2010-10-31,2010,35,1,2.018650e+10,NaN,NaN,NaN
997,7704.0,Hiroyuki Horibata,2012-12-02,2012,35,1,6.203213e+12,NaN,NaN,NaN
998,7705.0,Paul Kipsambu,1999-04-04,1999,59,1,1.289601e+10,NaN,NaN,NaN
999,7705.0,Wegayehu Girma,2010-11-07,2010,33,1,2.993379e+10,NaN,NaN,NaN
1000,7705.0,Daniel Kirwa Too,2011-10-23,2011,45,1,4.195343e+10,NaN,NaN,NaN

In [26]:
run_attr = pd.read_csv(r'runner_attributes_2021.csv')
run_results = pd.read_csv(r'2021_results.csv')
run_attr.rename({'Used name': 'Athlete'}, axis = 1, inplace=True)
print(run_attr.head())
print(run_results.head())
join_table = run_attr.merge(run_results, on = 'Athlete')
join_table.fillna(-1, inplace = True)
join_table.drop(['Sex', 'NOC_x'], axis=1, inplace = True)
join_table['Year'] = 2016
join_table = join_table.merge(gdp, how = 'left', left_on = ['NOC_y', 'Year'], right_on = ['Country', 'Year'])
join_table.drop(['Country', 'NOC_y'], axis=1, inplace = True)
join_table.rename({'Value': 'GDP'})
print(join_table.head())
final_table = join_table.merge(Mara_attr_times[['Name', 'Year', 'Previous marathons', 'Last Time']], how = 'left', left_on = ['Athlete', 'Year'], right_on = ['Name', 'Year'])
final_table['Year'] = 2021
final_table.drop(['Name', 'Athlete'], inplace = True, axis = 1)
print(final_table.head())
final_table.to_csv('2021_final.csv')

    Sex             Athlete           NOC  age  height  weight
0  Male    Filex Chemongesi        Uganda   28     NaN     NaN
1  Male        Marhu Teferi        Israel   29   164.0    52.0
2  Male        Elroy Gelant  South Africa   35   175.0    61.0
3  Male  Bat-Ochiryn Ser-Od      Mongolia   40   169.0    61.0
4  Male       Lelisa Desisa      Ethiopia   31     NaN     NaN
            Athlete  NOC  Time
0    Eliud Kipchoge  KEN  7718
1      Abdi Nageeye  NED  7798
2       Bashir Abdi  BEL  7800
3  Lawrence Cherono  KEN  7802
4    Ayad Lamdassem  ESP  7816
            Athlete  age  height  weight  Time  Year         Value
0  Filex Chemongesi   28    -1.0    -1.0  8453  2016  2.407893e+10
1      Marhu Teferi   29   164.0    52.0  7982  2016  3.177448e+11
2      Elroy Gelant   35   175.0    61.0  8203  2016           NaN
3    Brett Robinson   30   176.0    60.0  8644  2016  1.204616e+12
4      Yuma Hattori   28    -1.0    -1.0  9008  2016  4.940159e+12
   age  height  weight  Time  Year         Value  Previous marathons  \
0   28    -1.0    -1.0  8453  2021  2.407893e+10                 NaN
1   29   164.0    52.0  7982  2021  3.177448e+11                 NaN
2   35   175.0    61.0  8203  2021           NaN                 NaN
3   30   176.0    60.0  8644  2021  1.204616e+12                 NaN
4   28    -1.0    -1.0  9008  2021  4.940159e+12                 NaN

   Last Time
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

,Time,Name,Date,Year,Age,Previous marathons,GDP,Weight,Height,Last Time
19,7385.0,Eliud Kipchoge,2016-04-24,2016,37,7,7.052901e+10,57.0,167.0,7440.0
20,7440.0,Eliud Kipchoge,2015-09-27,2015,37,7,6.376754e+10,57.0,167.0,7482.0
21,7445.0,Eliud Kipchoge,2013-09-29,2013,37,7,5.509734e+10,57.0,167.0,7530.0
22,7451.0,Eliud Kipchoge,2014-10-12,2014,37,7,6.144535e+10,57.0,167.0,7500.0
23,7482.0,Eliud Kipchoge,2015-04-26,2015,37,7,6.376754e+10,57.0,167.0,7451.0
24,7500.0,Eliud Kipchoge,2014-04-13,2014,37,7,6.144535e+10,57.0,167.0,7445.0
25,7530.0,Eliud Kipchoge,2013-04-21,2013,37,7,5.509734e+10,57.0,167.0,NaN

In [20]:
Final_Mara_attr_times = Mara_attr_times.drop(columns= ["Date", "Name"])
Final_Mara_attr_times.rename(columns={"Time": "Results"}, inplace= True)

In [21]:
Final_Mara_attr_times.to_csv('Final_Mara_attr_times.csv', index = False)

In [22]:
# Calc Mean and STD
for col in Final_Mara_attr_times.columns:
  print(col, round(np.nanmean(Final_Mara_attr_times[col]),2), round(np.nanstd(Final_Mara_attr_times[col]),2))

Results 7629.44 64.54
Year 2009.34 6.43
Age 39.56 7.97
Previous marathons 4.17 3.09
GDP 369753182906.83 1553507034473.51
Weight 59.44 4.27
Height 173.09 6.7
Last Time 7615.59 70.08