# Scraping Script

## Import packages

In [ ]:
import pandas as pd
import numpy as np
#from selenium import webdriver
#from selenium.webdriver.common.keys import Keys
#from selenium.webdriver.support.ui import Select
#from selenium.webdriver.chrome.service import Service
import requests
from bs4 import BeautifulSoup
import time
import re
import string

from datetime import date

import datetime
import statistics

## Specify Path

In [ ]:
url = 'http://www.olympedia.org/results/19000437'

## Get 2021 results

In [ ]:
dfs = pd.read_html('http://www.olympedia.org/results/19000437',encoding='utf8')

In [ ]:
#Get the right dataframe
dat_2021 = dfs[1]
#Get rid of no-finishers
dat_2021_clean = dat_2021[dat_2021.Pos != "AC"][['Athlete', 'NOC', 'Time']]
#get time in a consistent format
hours = dat_2021_clean.Time.apply(lambda x: int(x[0]))
minutes = dat_2021_clean.Time.apply(lambda x: int(x[2:4]))
seconds = dat_2021_clean.Time.apply(lambda x: int(x[5:7]))
dat_2021_clean.Time = hours * 3600 + minutes * 60 + seconds
print(dat_2021_clean)

               Athlete  NOC  Time
0       Eliud Kipchoge  KEN  7718
1         Abdi Nageeye  NED  7798
2          Bashir Abdi  BEL  7800
3     Lawrence Cherono  KEN  7802
4       Ayad Lamdassem  ESP  7816
..                 ...  ...   ...
71          Cam Levins  CAN  8923
72        Yuma Hattori  JPN  9008
73   José Juan Esparza  MEX  9111
74  Jorge Castelblanco  PAN  9202
75          Iván Zarco  HON  9876

[76 rows x 3 columns]

## Get 2021 athlete data

In [ ]:
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

In [ ]:
#Get athlete id's so that I can parse through the profile pages
athlete_id = []
i = 0
for a in soup.find_all('a', href=True):
    if a['href'][1:9] == 'athletes':
        athlete_id.append(a['href'][9:])
        i = i + 1

print(athlete_id)
athlete_id_clean = list(set(athlete_id[4:]))
print(athlete_id_clean)

['/advanced_search', '/doubles', '/lists', '', '/106584', '/135227', '/132653', '/144850', '/67392', '/69768', '/106584', '/135227', '/132653', '/144850', '/114976', '/134721', '/136037', '/114968', '/145178', '/132658', '/145176', '/142827', '/134570', '/133618', '/141947', '/142364', '/142824', '/145175', '/141817', '/144130', '/142465', '/142383', '/133433', '/132466', '/132961', '/134124', '/114615', '/143958', '/147332', '/143340', '/140468', '/141808', '/142470', '/135671', '/142382', '/135358', '/143959', '/145959', '/120054', '/135341', '/89097', '/145428', '/135426', '/146996', '/142815', '/141483', '/144146', '/141492', '/134922', '/143348', '/146995', '/146958', '/140469', '/124091', '/135173', '/145268', '/122508', '/134501', '/140992', '/135431', '/140878', '/144527', '/145960', '/145776', '/145269', '/132458', '/145131', '/133733', '/123438', '/142157', '/134504', '/120197', '/144540', '/145267', '/135424', '/147801', '/144844', '/145536', '/123446', '/142618', '/146504', '/145540', '/145966', '/143093', '/146420', '/108281', '/2103054', '/135927', '/144147', '/133962', '/147049', '/125475', '/141946', '/142624', '/141296', '/147055', '/140877', '/143889', '/144971', '/132956', '/121155', '/146786', '/141194', '/115508', '/142623', '/140719', '/8295']
['/142815', '/142623', '/145960', '/140468', '/141483', '/145540', '/143889', '/135173', '/143958', '/141946', '/67392', '/145268', '/135671', '/122508', '/114615', '/142470', '/146420', '/121155', '/135426', '/133618', '/135431', '/141296', '/147055', '/132653', '/106584', '/132466', '/144527', '/133433', '/132961', '/140877', '/143959', '/136037', '/142824', '/147332', '/145536', '/145959', '/143348', '/144844', '/147801', '/145178', '/141817', '/141194', '/141947', '/145176', '/142364', '/142624', '/120197', '/134124', '/145776', '/135927', '/133962', '/134504', '/135424', '/133733', '/132956', '/124091', '/145428', '/123438', '/132658', '/8295', '/145175', '/89097', '/143093', '/135358', '/144130', '/145966', '/114968', '/142465', '/145131', '/142383', '/135341', '/142157', '/120054', '/144850', '/2103054', '/146504', '/147049', '/140469', '/141492', '/123446', '/134721', '/146995', '/142618', '/146786', '/108281', '/125475', '/142827', '/140878', '/140992', '/146958', '/114976', '/144147', '/144540', '/143340', '/142382', '/115508', '/132458', '/141808', '/134501', '/144971', '/135227', '/145267', '/69768', '/146996', '/134570', '/144146', '/134922', '/140719', '/145269']

In [ ]:
#parse through athlete profiles
ath_url = 'http://www.olympedia.org/athletes'
ath_list = []
for ath in athlete_id_clean:
    ath_list.append(pd.read_html(ath_url + ath, encoding='utf8'))

In [ ]:
#Get athlete attribute table from the athlete profiles
ath_attr = []
for attr in ath_list:
    for tables in attr:
        if tables.iloc[0,0] == 'Type':
            tables.columns = ['attr', 'val']
            column_names = tables.attr.to_numpy()
            value_names = tables.val.to_numpy()
            new_table = pd.DataFrame(value_names.reshape(-1, len(value_names)), columns = column_names)
            ath_attr.append(new_table)


print(ath_attr)

In [ ]:
#clean up the data
attr_table = pd.concat(ath_attr).reset_index()
attr_table = attr_table[['Sex', 'Used name', 'Born', 'NOC', 'Measurements']]
#Get birth elements
pattern = '\d+'
attr_table['day'] = attr_table.Born.apply(lambda x: int(re.findall(pattern, x)[0]))
attr_table['year'] = attr_table.Born.apply(lambda x: int(re.findall(pattern, x)[1]))
pattern2 = '\D+(?=\s)'
attr_table['month'] = attr_table.Born.apply(lambda x: re.findall(pattern2, x)[0])
attr_table['age'] = 2021 - attr_table.year
attr_table = attr_table.drop('Born', axis=1)
#Get the used name in correct format
attr_table['Used name'] = attr_table['Used name'].apply(lambda x: x.replace('•', ' '))
#Get height and weight in cm and kg
attr_table['height'] = np.nan
attr_table['weight'] = np.nan
pattern = ' cm'
pattern = '\d+'
for i in range(len(attr_table)):
    if attr_table.Measurements.notna()[i]:
        height_possible = attr_table.Measurements[i].split(' cm')
        if 'k' in attr_table.Measurements[i]:
            weight_possible = attr_table.Measurements[i]
            weight_possible = weight_possible[-5:weight_possible.index("k")]
            attr_table.weight[i] = weight_possible
        if len(height_possible) > 1:
            attr_table.height[i] = height_possible[0]  
attr_table.drop(['Measurements', 'day', 'year', 'month'], inplace = True, axis = 1)
print(attr_table)

      Sex                Used name                NOC  age  height  weight
0    Male            Hassan Chahdi             France   32     NaN     NaN
1    Male             Shura Kitata           Ethiopia   25     NaN     NaN
2    Male  Arkadiusz Gardzielewski             Poland   35     NaN     NaN
3    Male            Eulalio Muñoz          Argentina   26     NaN     NaN
4    Male             Ben Preisner             Canada   25     NaN     NaN
..    ...                      ...                ...  ...     ...     ...
104  Male             Marhu Teferi             Israel   29   164.0    52.0
105  Male      Yassine El-Fathaoui              Italy   39     NaN     NaN
106  Male            Sim Jong-Seop  Republic of Korea   30   168.0    58.0
107  Male              Jack Rayner          Australia   26     NaN     NaN
108  Male             Juan Pacheco             Mexico   31     NaN     NaN

[109 rows x 6 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
#write to csv
dat_2021_clean.to_csv('2021_results.csv', index = False)
attr_table.to_csv('runner_attributes_2021.csv', index = False)

#Get GDP

In [ ]:
gdp = pd.read_csv("https://storage.googleapis.com/kagglesdsdata/datasets/1239930/2068732/gdp_csv.csv?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20211201%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20211201T225705Z&X-Goog-Expires=259199&X-Goog-SignedHeaders=host&X-Goog-Signature=5dcdd0bc0de18021bde94600860592795e2d0d3db5dee6acab202d993d060f57971cf70c29ec8c28d36b4a7a9bd1c1ca342460ac8adde9441795d3eac2069a2f3a7536d3ddad431303a9fced5a088d69e28460d965a2cbfbfed4a90f353e1d6128b81b45c680f3b7bd74d639f310690ffeaa5c0fdd35dd9489e31c27c1cad2fc9cdb6c977d8433884299608fb5921192a4d25531e50be8f177450067e9104356ae71392e47d7c324bb7ce9f85f65cabd9f2b30d7ada6fcc59b3186774f011c8e746ca1517139c8a5b07d3c5e36b783912901187c986adba0bd490e06323ec521b16a8889f83a32e326608778c52b17f701e50f89d26236147ee1cd1db7dc9884")
gdp.rename(columns={"Country Code": "Country"}, inplace= True)
gdp.drop(columns= ['Country Name'], inplace= True)

#Get marathon attributes and times

In [ ]:
def age(birthdate):
    today = date.today()
    one_or_zero = ((today.month, today.day) < (birthdate.month, birthdate.day))
    year_difference = today.year - birthdate.year
    age = year_difference - one_or_zero
    return age

def year(date):
  return date.year  

def seconds(date):
  return date.total_seconds()

In [ ]:
Mara_attr_times = pd.read_csv('running_times.csv')
Mara_attr_times = Mara_attr_times[Mara_attr_times['Event'] == 'Marathon']
Mara_attr_times = Mara_attr_times[Mara_attr_times['Gender'] == 'Men']

# Find number of Marathons
Number_Marathons = Mara_attr_times.groupby("Name").count()
Number_Marathons.reset_index(inplace= True)
Number_Marathons = Number_Marathons.filter(['Name', 'Rank'])
Number_Marathons['Previous marathons'] = Number_Marathons['Rank']

#Convert to Datetime
Mara_attr_times['Date of Birth'] = pd.to_datetime(Mara_attr_times['Date of Birth'])
Mara_attr_times['Date'] = pd.to_datetime(Mara_attr_times['Date'])
Mara_attr_times['Time'] = pd.to_datetime(Mara_attr_times['Time'], format= "%H:%M:%S") - datetime.datetime(1900, 1, 1)

#Clean the data
Mara_attr_times['Year'] = Mara_attr_times['Date'].apply(year)
Mara_attr_times['Age'] = Mara_attr_times['Date of Birth'].apply(age)
Mara_attr_times['Time'] = Mara_attr_times['Time'].apply(seconds)
Mara_attr_times.drop(columns = ['Date of Birth', 'Gender', 'Event', 'Rank', 'Place', 'City'], inplace= True)

#Merge GDP and Previous Marathons
Mara_attr_times = pd.merge(Mara_attr_times, Number_Marathons, on = "Name")
Mara_attr_times = pd.merge(Mara_attr_times, gdp, on = ['Country', 'Year'], how = "left")
Mara_attr_times["GDP"] = Mara_attr_times["Value"]
Mara_attr_times.drop(columns=['Country', 'Value', 'Rank'], inplace= True)

In [ ]:
Athlete_events = pd.read_csv("athlete_events.csv")

Athlete_events = Athlete_events[Athlete_events["Sex"] == "M"]

Athlete_events.drop_duplicates(subset=['Name'], inplace= True)
Athlete_events = Athlete_events.filter(['Name','Weight','Height'])

In [ ]:
Mara_attr_times = pd.merge(Mara_attr_times, Athlete_events, on = "Name", how = "inner")

In [ ]:
TND = Mara_attr_times[["Time", "Name", "Date"]]
TND.sort_values(by = ["Name", "Date"], inplace= True)
TND.sort_values(by = ["Name", "Date"], inplace= True, ascending= False)
TND["Last Time"] = np.nan

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
for i in range(len(TND)):
 if i < len(TND) - 1:
   if TND.iloc[i,1] == TND.iloc[i+1,1]:
     TND.iloc[i,3] = TND.iloc[i+1,0]
TND.drop(columns= ['Time'], inplace= True)
Mara_attr_times = pd.merge(Mara_attr_times, TND, on = ["Name", "Date"])

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [119]:
Final_Mara_attr_times = Mara_attr_times.drop(columns= ["Date", "Name"])
Final_Mara_attr_times.rename(columns={"Time": "Results"}, inplace= True)

In [120]:
Final_Mara_attr_times

     Results  Year  Age  ...  Weight  Height  Last Time
0     7385.0  2016   37  ...    57.0   167.0     7440.0
1     7440.0  2015   37  ...    57.0   167.0     7482.0
2     7445.0  2013   37  ...    57.0   167.0     7530.0
3     7451.0  2014   37  ...    57.0   167.0     7500.0
4     7482.0  2015   37  ...    57.0   167.0     7451.0
..       ...   ...  ...  ...     ...     ...        ...
132   7696.0  2002   43  ...    60.0   170.0        NaN
133   7701.0  2003   43  ...    60.0   170.0     7696.0
134   7698.0  2011   45  ...    63.0   163.0        NaN
135   7699.0  1990   62  ...    68.0   180.0        NaN
136   7701.0  2007   50  ...    70.0   191.0        NaN

[137 rows x 8 columns]

In [ ]:
# Calc Mean and STD
for col in Final_Mara_attr_times.columns:
  print(col, round(np.nanmean(Final_Mara_attr_times[col]),2), round(np.nanstd(Final_Mara_attr_times[col]),2))

Results 7621.62 79.41
Year 2006.93 7.57
Age 43.52 8.26
Previous marathons 5.26 3.57
GDP 1207544559467.38 2947828439658.14
Weight 59.44 4.27
Height 173.09 6.7
Last Time 7607.16 84.87