# Scraping Script

## Import packages

In [24]:
import pandas as pd
import numpy as np
#from selenium import webdriver
#from selenium.webdriver.common.keys import Keys
#from selenium.webdriver.support.ui import Select
#from selenium.webdriver.chrome.service import Service
import requests
from bs4 import BeautifulSoup
import time
import re
import string

from datetime import date

import datetime
import statistics


from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier

## Specify Path

In [ ]:
url = 'http://www.olympedia.org/results/19000437'

## Get 2021 results

In [ ]:
dfs = pd.read_html('http://www.olympedia.org/results/19000437',encoding='utf8')

In [ ]:
#Get the right dataframe
dat_2021 = dfs[1]
#Get rid of no-finishers
dat_2021_clean = dat_2021[dat_2021.Pos != "AC"][['Athlete', 'NOC', 'Time']]
#get time in a consistent format
hours = dat_2021_clean.Time.apply(lambda x: int(x[0]))
minutes = dat_2021_clean.Time.apply(lambda x: int(x[2:4]))
seconds = dat_2021_clean.Time.apply(lambda x: int(x[5:7]))
dat_2021_clean.Time = hours * 3600 + minutes * 60 + seconds
print(dat_2021_clean)

               Athlete  NOC  Time
0       Eliud Kipchoge  KEN  7718
1         Abdi Nageeye  NED  7798
2          Bashir Abdi  BEL  7800
3     Lawrence Cherono  KEN  7802
4       Ayad Lamdassem  ESP  7816
..                 ...  ...   ...
71          Cam Levins  CAN  8923
72        Yuma Hattori  JPN  9008
73   José Juan Esparza  MEX  9111
74  Jorge Castelblanco  PAN  9202
75          Iván Zarco  HON  9876

[76 rows x 3 columns]

## Get 2021 athlete data

In [ ]:
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

In [ ]:
#Get athlete id's so that I can parse through the profile pages
athlete_id = []
i = 0
for a in soup.find_all('a', href=True):
    if a['href'][1:9] == 'athletes':
        athlete_id.append(a['href'][9:])
        i = i + 1

print(athlete_id)
athlete_id_clean = list(set(athlete_id[4:]))
print(athlete_id_clean)

['/advanced_search', '/doubles', '/lists', '', '/106584', '/135227', '/132653', '/144850', '/67392', '/69768', '/106584', '/135227', '/132653', '/144850', '/114976', '/134721', '/136037', '/114968', '/145178', '/132658', '/145176', '/142827', '/134570', '/133618', '/141947', '/142364', '/142824', '/145175', '/141817', '/144130', '/142465', '/142383', '/133433', '/132466', '/132961', '/134124', '/114615', '/143958', '/147332', '/143340', '/140468', '/141808', '/142470', '/135671', '/142382', '/135358', '/143959', '/145959', '/120054', '/135341', '/89097', '/145428', '/135426', '/146996', '/142815', '/141483', '/144146', '/141492', '/134922', '/143348', '/146995', '/146958', '/140469', '/124091', '/135173', '/145268', '/122508', '/134501', '/140992', '/135431', '/140878', '/144527', '/145960', '/145776', '/145269', '/132458', '/145131', '/133733', '/123438', '/142157', '/134504', '/120197', '/144540', '/145267', '/135424', '/147801', '/144844', '/145536', '/123446', '/142618', '/146504', '/145540', '/145966', '/143093', '/146420', '/108281', '/2103054', '/135927', '/144147', '/133962', '/147049', '/125475', '/141946', '/142624', '/141296', '/147055', '/140877', '/143889', '/144971', '/132956', '/121155', '/146786', '/141194', '/115508', '/142623', '/140719']
['/146786', '/147332', '/146420', '/146504', '/114615', '/147055', '/145131', '/145267', '/134504', '/141296', '/145540', '/135426', '/89097', '/142382', '/125475', '/144130', '/132458', '/136037', '/145176', '/143959', '/142623', '/135173', '/133618', '/134501', '/145175', '/142824', '/140877', '/142364', '/142157', '/134124', '/132956', '/146958', '/123438', '/134721', '/145966', '/135927', '/124091', '/142618', '/140469', '/106584', '/135341', '/140719', '/144147', '/133962', '/114968', '/144146', '/140992', '/144850', '/143093', '/142815', '/145268', '/140468', '/143958', '/133733', '/146996', '/135358', '/142827', '/120054', '/123446', '/134922', '/134570', '/132653', '/135227', '/144527', '/141808', '/2103054', '/145269', '/67392', '/146995', '/147801', '/141817', '/135424', '/145959', '/144540', '/114976', '/141947', '/135671', '/132658', '/108281', '/141194', '/143889', '/143348', '/145428', '/135431', '/144971', '/122508', '/140878', '/142383', '/144844', '/142624', '/145960', '/121155', '/115508', '/145776', '/142465', '/133433', '/147049', '/69768', '/132961', '/142470', '/132466', '/141483', '/120197', '/145536', '/141492', '/141946', '/145178', '/143340']

In [ ]:
#parse through athlete profiles
ath_url = 'http://www.olympedia.org/athletes'
ath_list = []
for ath in athlete_id_clean:
    ath_list.append(pd.read_html(ath_url + ath, encoding='utf8'))

In [ ]:
#Get athlete attribute table from the athlete profiles
ath_attr = []
for attr in ath_list:
    for tables in attr:
        if tables.iloc[0,0] == 'Type':
            tables.columns = ['attr', 'val']
            column_names = tables.attr.to_numpy()
            value_names = tables.val.to_numpy()
            new_table = pd.DataFrame(value_names.reshape(-1, len(value_names)), columns = column_names)
            ath_attr.append(new_table)


print(ath_attr)

[                        Type  ...                          NOC
0  Competed in Olympic Games  ...  United Republic of Tanzania

[1 rows x 7 columns],                         Type   Sex  ...             Born            NOC
0  Competed in Olympic Games  Male  ...  2 November 1988  United States

[1 rows x 6 columns],                         Type   Sex  ...              Born           NOC
0  Competed in Olympic Games  Male  ...  23 November 1988  South Africa

[1 rows x 6 columns],                         Type   Sex  ...             Born     NOC
0  Competed in Olympic Games  Male  ...  26 October 1996  Rwanda

[1 rows x 6 columns],                         Type   Sex  ...         Affiliations      NOC
0  Competed in Olympic Games  Male  ...  TÜ ASK, Tartu (EST)  Estonia

[1 rows x 8 columns],                         Type   Sex  ...          Born      NOC
0  Competed in Olympic Games  Male  ...  26 July 1995  Ukraine

[1 rows x 7 columns],                         Type   Sex  ...           Born      NOC
0  Competed in Olympic Games  Male  ...  30 March 1992  Lesotho

[1 rows x 6 columns],                         Type   Sex  ...            Born     NOC
0  Competed in Olympic Games  Male  ...  26 August 1990  Mexico

[1 rows x 6 columns],                         Type  ...      NOC
0  Competed in Olympic Games  ...  Ireland

[1 rows x 8 columns],                         Type   Sex  ...                           Born      NOC
0  Competed in Olympic Games  Male  ...  28 May 1989 in Gimbichu (ETH)  Bahrain

[1 rows x 7 columns],                         Type   Sex  ...           Born          NOC
0  Competed in Olympic Games  Male  ...  23 March 1986  Netherlands

[1 rows x 6 columns],                         Type   Sex  ...    Measurements       NOC
0  Competed in Olympic Games  Male  ...  178 cm / 75 kg  Paraguay

[1 rows x 7 columns],                         Type   Sex  ...           Affiliations            NOC
0  Competed in Olympic Games  Male  ...  Nike, Beaverton (USA)  United States

[1 rows x 9 columns],                         Type   Sex  ...            Born      NOC
0  Competed in Olympic Games  Male  ...  1 January 1998  Eritrea

[1 rows x 6 columns],                         Type   Sex  ...                      Affiliations     NOC
0  Competed in Olympic Games  Male  ...  Enka Spor Kulubü, İstanbul (TUR)  Turkey

[1 rows x 9 columns],                         Type   Sex  ...                              Born    NOC
0  Competed in Olympic Games  Male  ...  26 November 1992 in Asmara (ERI)  Italy

[1 rows x 6 columns],                         Type   Sex  ...          Affiliations        NOC
0  Competed in Olympic Games  Male  ...  Melbourne Track Club  Australia

[1 rows x 8 columns],                         Type   Sex  ... Measurements                          NOC
0  Competed in Olympic Games  Male  ...        55 kg  United Republic of Tanzania

[1 rows x 7 columns],                         Type   Sex  ...                                Born      NOC
0  Competed in Olympic Games  Male  ...  12 November 1989 in Ouazzane (MAR)  Morocco

[1 rows x 7 columns],                         Type   Sex  ...         Born     NOC
0  Competed in Olympic Games  Male  ...  8 June 1990  Israel

[1 rows x 6 columns],                         Type   Sex  ...         Born       NOC
0  Competed in Olympic Games  Male  ...  9 June 1996  Ethiopia

[1 rows x 6 columns],                         Type  ...       NOC
0  Competed in Olympic Games  ...  Mongolia

[1 rows x 10 columns],                         Type   Sex  ...             Born      NOC
0  Competed in Olympic Games  Male  ...  3 December 1993  Eritrea

[1 rows x 6 columns],                         Type   Sex  ...              Affiliations      NOC
0  Competed in Olympic Games  Male  ...  St Malachy's AC, Belfast  Ireland

[1 rows x 8 columns],                         Type   Sex  ...         Born      NOC
0  Competed in Olympic Games  Male  ...  10 May 1993  Morocco

[1 rows x 7 columns],                         Type   Sex  ...          Born     NOC
0  Competed in Olympic Games  Male  ...  21 June 1988  France

[1 rows x 6 columns],                         Type   Sex  ...             Born      NOC
0  Competed in Olympic Games  Male  ...  22 October 1985  Austria

[1 rows x 6 columns],                         Type   Sex  ...            Born                   NOC
0  Competed in Olympic Games  Male  ...  1 January 1998  Refugee Olympic Team

[1 rows x 6 columns],                         Type   Sex  ...               Born      NOC
0  Competed in Olympic Games  Male  ...  20 September 1992  Denmark

[1 rows x 6 columns],                         Type  ...      NOC
0  Competed in Olympic Games  ...  Germany

[1 rows x 8 columns],                         Type   Sex  ...    Measurements      NOC
0  Competed in Olympic Games  Male  ...  162 cm / 59 kg  Bahrain

[1 rows x 8 columns],                         Type   Sex  ...          Born     NOC
0  Competed in Olympic Games  Male  ...  9 April 1992  Turkey

[1 rows x 6 columns],                         Type  ...     NOC
0  Competed in Olympic Games  ...  Brazil

[1 rows x 8 columns],                         Type   Sex  ...                    Affiliations    NOC
0  Competed in Olympic Games  Male  ...  Waseda University, Tokyo (JPN)  Japan

[1 rows x 9 columns],                         Type   Sex  ...          Born     NOC
0  Competed in Olympic Games  Male  ...  28 June 1986  Poland

[1 rows x 6 columns],                         Type   Sex  ... Affiliations          NOC
0  Competed in Olympic Games  Male  ...     LC Uster  Switzerland

[1 rows x 8 columns],                         Type  ...            NOC
0  Competed in Olympic Games  ...  Great Britain

[1 rows x 8 columns],                         Type   Sex  ...             Born       NOC
0  Competed in Olympic Games  Male  ...  14 January 1990  Ethiopia

[1 rows x 6 columns],                         Type  ...        NOC
0  Competed in Olympic Games  ...  Argentina

[1 rows x 7 columns],                         Type   Sex  ...    Measurements    NOC
0  Competed in Olympic Games  Male  ...  167 cm / 57 kg  Kenya

[1 rows x 7 columns],                         Type  ...     NOC
0  Competed in Olympic Games  ...  Norway

[1 rows x 8 columns],                         Type  ...        NOC
0  Competed in Olympic Games  ...  Australia

[1 rows x 6 columns],                         Type   Sex  ...                             Born    NOC
0  Competed in Olympic Games  Male  ...  11 June 1993 in Aïn Sebaâ (MAR)  Italy

[1 rows x 6 columns],                         Type  ...            NOC
0  Competed in Olympic Games  ...  Great Britain

[1 rows x 8 columns],                         Type   Sex  ...                Affiliations            NOC
0  Competed in Olympic Games  Male  ...  Oregon Ducks, Eugene (USA)  United States

[1 rows x 8 columns],                         Type   Sex  ...                           Born    NOC
0  Competed in Olympic Games  Male  ...  23 March 1982 in Belfaa (MAR)  Italy

[1 rows x 6 columns],                         Type   Sex  ...                       Affiliations      NOC
0  Competed in Olympic Games  Male  ...  Atletiekclub De Demer [ADD] (BEL)  Belgium

[1 rows x 7 columns],                         Type   Sex  ...           Born    NOC
0  Competed in Olympic Games  Male  ...  7 August 1988  Kenya

[1 rows x 6 columns],                         Type   Sex  ...             Born            NOC
0  Competed in Olympic Games  Male  ...  17 October 1992  Great Britain

[1 rows x 6 columns],                         Type   Sex  ...        Born     NOC
0  Competed in Olympic Games  Male  ...  7 May 1989  France

[1 rows x 6 columns],                         Type   Sex  ...               Born     NOC
0  Competed in Olympic Games  Male  ...  26 September 1989  Mexico

[1 rows x 6 columns],                         Type   Sex  ...                             Born        NOC
0  Competed in Olympic Games  Male  ...  16 July 1995 in Gualjaina (ARG)  Argentina

[1 rows x 7 columns],                         Type   Sex  ...             Born     NOC
0  Competed in Olympic Games  Male  ...  26 October 1987  Israel

[1 rows x 6 columns],                         Type   Sex  ... Affiliations      NOC
0  Competed in Olympic Games  Male  ...   Stamina SK  Estonia

[1 rows x 9 columns],                         Type   Sex  ...            Born     NOC
0  Competed in Olympic Games  Male  ...  12 August 1996  Uganda

[1 rows x 6 columns],                         Type  ...          NOC
0  Competed in Olympic Games  ...  New Zealand

[1 rows x 9 columns],                         Type   Sex  ...           Born     NOC
0  Competed in Olympic Games  Male  ...  12 March 1991  France

[1 rows x 6 columns],                         Type  ...      NOC
0  Competed in Olympic Games  ...  Burundi

[1 rows x 8 columns],                         Type  ...           NOC
0  Competed in Olympic Games  ...  South Africa

[1 rows x 8 columns],                         Type   Sex  ...    Measurements                NOC
0  Competed in Olympic Games  Male  ...  168 cm / 58 kg  Republic of Korea

[1 rows x 10 columns],                         Type   Sex  ...    Measurements     NOC
0  Competed in Olympic Games  Male  ...  164 cm / 52 kg  Israel

[1 rows x 8 columns],                         Type  ...      NOC
0  Competed in Olympic Games  ...  Belgium

[1 rows x 8 columns],                         Type   Sex  ...       Affiliations          NOC
0  Competed in Olympic Games  Male  ...  AV Cifla,Nijmegen  Netherlands

[1 rows x 9 columns],                         Type   Sex  ...               Born    NOC
0  Competed in Olympic Games  Male  ...  16 September 1992  Japan

[1 rows x 6 columns],                         Type  ...                         NOC
0  Competed in Olympic Games  ...  People's Republic of China

[1 rows x 8 columns],                                                 Type  ...     NOC
0  Competed in Olympic Games, Competed in Youth O...  ...  Brazil

[1 rows x 6 columns],                         Type   Sex  ...              Born     NOC
0  Competed in Olympic Games  Male  ...  11 December 1990  Mexico

[1 rows x 6 columns],                         Type   Sex  ...    Measurements       NOC
0  Competed in Olympic Games  Male  ...  177 cm / 57 kg  Ethiopia

[1 rows x 9 columns],                         Type   Sex  ...            Born     NOC
0  Competed in Olympic Games  Male  ...  19 August 1993  Uganda

[1 rows x 6 columns],                         Type  ...       NOC
0  Competed in Olympic Games  ...  Honduras

[1 rows x 6 columns],                         Type   Sex  ...         Born                         NOC
0  Competed in Olympic Games  Male  ...  9 July 1992  People's Republic of China

[1 rows x 8 columns],                         Type   Sex  ...               Affiliations     NOC
0  Competed in Olympic Games  Male  ...  Club Corredores del Istmo  Panama

[1 rows x 8 columns],                         Type   Sex  ...            Born     NOC
0  Competed in Olympic Games  Male  ...  24 August 1990  Poland

[1 rows x 6 columns],                         Type   Sex  ...              Born    NOC
0  Competed in Olympic Games  Male  ...  13 November 1993  Japan

[1 rows x 6 columns],                         Type   Sex  ...       Affiliations    NOC
0  Competed in Olympic Games  Male  ...  Aseficán Piélagos  Spain

[1 rows x 8 columns],                         Type   Sex  ...           Born       NOC
0  Competed in Olympic Games  Male  ...  21 March 1991  Colombia

[1 rows x 6 columns],                         Type   Sex  ...          Affiliations           NOC
0  Competed in Olympic Games  Male  ...  Boxer Athletics Club  South Africa

[1 rows x 9 columns],                         Type  ...      NOC
0  Competed in Olympic Games  ...  Belgium

[1 rows x 8 columns],                         Type   Sex  ...                     Affiliations       NOC
0  Competed in Olympic Games  Male  ...  Morpeth Harriers, Morpeth (GBR)  Mongolia

[1 rows x 11 columns],                         Type   Sex  ...          Born     NOC
0  Competed in Olympic Games  Male  ...  10 July 1988  Brazil

[1 rows x 6 columns],                         Type   Sex  ...                 Affiliations      NOC
0  Competed in Olympic Games  Male  ...  Clonliffe Harriers AC (IRL)  Ireland

[1 rows x 7 columns],                         Type   Sex  ...           Born      NOC
0  Competed in Olympic Games  Male  ...  18 March 1993  Germany

[1 rows x 6 columns],                         Type   Sex  ...             Born      NOC
0  Competed in Olympic Games  Male  ...  7 February 1991  Namibia

[1 rows x 6 columns],                         Type   Sex  ...    Measurements   NOC
0  Competed in Olympic Games  Male  ...  162 cm / 50 kg  Peru

[1 rows x 7 columns],                         Type   Sex  ...              Born                NOC
0  Competed in Olympic Games  Male  ...  20 November 1988  Republic of Korea

[1 rows x 9 columns],                         Type  ...                         NOC
0  Competed in Olympic Games  ...  People's Republic of China

[1 rows x 10 columns],                         Type   Sex  ...           Born      NOC
0  Competed in Olympic Games  Male  ...  1 August 1987  Austria

[1 rows x 6 columns],                         Type   Sex  ...            Born      NOC
0  Competed in Olympic Games  Male  ...  1 January 1989  Eritrea

[1 rows x 6 columns],                         Type   Sex  ...               Born    NOC
0  Competed in Olympic Games  Male  ...  16 September 1992  Kenya

[1 rows x 6 columns],                         Type   Sex  ...              Born       NOC
0  Competed in Olympic Games  Male  ...  12 December 1990  Ethiopia

[1 rows x 6 columns],                         Type   Sex  ...          Born     NOC
0  Competed in Olympic Games  Male  ...  12 June 1986  Poland

[1 rows x 6 columns],                         Type   Sex  ... Affiliations     NOC
0  Competed in Olympic Games  Male  ...      Prisons  Uganda

[1 rows x 8 columns],                         Type   Sex  ...                   Affiliations      NOC
0  Competed in Olympic Games  Male  ...  Dynamo Donetsk, Donetsk (UKR)  Ukraine

[1 rows x 9 columns],                         Type  ...          NOC
0  Competed in Olympic Games  ...  New Zealand

[1 rows x 8 columns],                         Type   Sex  ...            Born    NOC
0  Competed in Olympic Games  Male  ...  31 August 1989  Spain

[1 rows x 6 columns],                         Type   Sex  ... Affiliations      NOC
0  Competed in Olympic Games  Male  ...  Hvidovre AM  Denmark

[1 rows x 8 columns],                         Type   Sex  ...                             Born      NOC
0  Competed in Olympic Games  Male  ...  18 May 1994 in Lviv, Lviv (UKR)  Ukraine

[1 rows x 7 columns],                         Type   Sex  ...                   Affiliations           NOC
0  Competed in Olympic Games  Male  ...  SV Halle, Halle (Saale) (GER)  East Germany

[1 rows x 8 columns],                         Type   Sex  ...    Measurements      NOC
0  Competed in Olympic Games  Male  ...  171 cm / 61 kg  Bahrain

[1 rows x 8 columns],                         Type   Sex  ...              Born    NOC
0  Competed in Olympic Games  Male  ...  10 November 1983  Spain

[1 rows x 6 columns],                         Type  ...        NOC
0  Competed in Olympic Games  ...  Australia

[1 rows x 9 columns],                         Type  ...     NOC
0  Competed in Olympic Games  ...  Canada

[1 rows x 6 columns],                         Type  ...     NOC
0  Competed in Olympic Games  ...  Canada

[1 rows x 8 columns],                         Type   Sex  ...               Born          NOC
0  Competed in Olympic Games  Male  ...  24 September 1995  Netherlands

[1 rows x 6 columns],                         Type  ...     NOC
0  Competed in Olympic Games  ...  Canada

[1 rows x 6 columns],                         Type   Sex  ...            Born       NOC
0  Competed in Olympic Games  Male  ...  14 August 1987  Colombia

[1 rows x 6 columns],                         Type   Sex  ...                      Affiliations      NOC
0  Competed in Olympic Games  Male  ...  Olympic Club de Safi, Safi (MAR)  Morocco

[1 rows x 8 columns],                         Type   Sex  ...         Born      NOC
0  Competed in Olympic Games  Male  ...  17 May 1995  Germany

[1 rows x 6 columns]]

In [ ]:
#clean up the data
attr_table = pd.concat(ath_attr).reset_index()
attr_table = attr_table[['Sex', 'Used name', 'Born', 'NOC', 'Measurements']]
#Get birth elements
pattern = '\d+'
attr_table['day'] = attr_table.Born.apply(lambda x: int(re.findall(pattern, x)[0]))
attr_table['year'] = attr_table.Born.apply(lambda x: int(re.findall(pattern, x)[1]))
pattern2 = '\D+(?=\s)'
attr_table['month'] = attr_table.Born.apply(lambda x: re.findall(pattern2, x)[0])
attr_table['age'] = 2021 - attr_table.year
attr_table = attr_table.drop('Born', axis=1)
#Get the used name in correct format
attr_table['Used name'] = attr_table['Used name'].apply(lambda x: x.replace('•', ' '))
#Get height and weight in cm and kg
attr_table['height'] = np.nan
attr_table['weight'] = np.nan
pattern = ' cm'
pattern = '\d+'
for i in range(len(attr_table)):
    if attr_table.Measurements.notna()[i]:
        height_possible = attr_table.Measurements[i].split(' cm')
        if 'k' in attr_table.Measurements[i]:
            weight_possible = attr_table.Measurements[i]
            weight_possible = weight_possible[-5:weight_possible.index("k")]
            attr_table.weight[i] = weight_possible
        if len(height_possible) > 1:
            attr_table.height[i] = height_possible[0]  
attr_table.drop(['Measurements', 'day', 'year', 'month'], inplace = True, axis = 1)
print(attr_table)

      Sex            Used name  ... height  weight
0    Male  Gabriel Gerald Geay  ...    NaN     NaN
1    Male          Jacob Riley  ...    NaN     NaN
2    Male       Pheeha Mokgobo  ...    NaN     NaN
3    Male      John Hakizimana  ...    NaN     NaN
4    Male        Tiidrek Nurme  ...  184.0    70.0
..    ...                  ...  ...    ...     ...
103  Male       Bart van Nunen  ...    NaN     NaN
104  Male      Trevor Hofbauer  ...    NaN     NaN
105  Male        Iván González  ...    NaN     NaN
106  Male    Othmane El-Goumri  ...    NaN     NaN
107  Male        Amanal Petros  ...    NaN     NaN

[108 rows x 6 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
#write to csv
dat_2021_clean.to_csv('2021_results.csv', index = False)
attr_table.to_csv('runner_attributes_2021.csv', index = False)

#Get GDP

In [ ]:
gdp = pd.read_csv("https://storage.googleapis.com/kagglesdsdata/datasets/1239930/2068732/gdp_csv.csv?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20211201%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20211201T225705Z&X-Goog-Expires=259199&X-Goog-SignedHeaders=host&X-Goog-Signature=5dcdd0bc0de18021bde94600860592795e2d0d3db5dee6acab202d993d060f57971cf70c29ec8c28d36b4a7a9bd1c1ca342460ac8adde9441795d3eac2069a2f3a7536d3ddad431303a9fced5a088d69e28460d965a2cbfbfed4a90f353e1d6128b81b45c680f3b7bd74d639f310690ffeaa5c0fdd35dd9489e31c27c1cad2fc9cdb6c977d8433884299608fb5921192a4d25531e50be8f177450067e9104356ae71392e47d7c324bb7ce9f85f65cabd9f2b30d7ada6fcc59b3186774f011c8e746ca1517139c8a5b07d3c5e36b783912901187c986adba0bd490e06323ec521b16a8889f83a32e326608778c52b17f701e50f89d26236147ee1cd1db7dc9884")
gdp.rename(columns={"Country Code": "Country"}, inplace= True)
gdp.drop(columns= ['Country Name'], inplace= True)

#Get marathon attributes and times

In [ ]:
def age(birthdate):
    today = date.today()
    one_or_zero = ((today.month, today.day) < (birthdate.month, birthdate.day))
    year_difference = today.year - birthdate.year
    age = year_difference - one_or_zero
    return age

def year(date):
  return date.year  

def seconds(date):
  return date.total_seconds()

In [76]:
Mara_attr_times = pd.read_csv('running_times.csv')
Mara_attr_times = Mara_attr_times[Mara_attr_times['Event'] == 'Marathon']
Mara_attr_times = Mara_attr_times[Mara_attr_times['Gender'] == 'Men']

# Find number of Marathons
Number_Marathons = Mara_attr_times.groupby("Name").count()
Number_Marathons.reset_index(inplace= True)
Number_Marathons = Number_Marathons.filter(['Name', 'Rank'])
Number_Marathons['Previous marathons'] = Number_Marathons['Rank']

#Convert to Datetime
Mara_attr_times['Date of Birth'] = pd.to_datetime(Mara_attr_times['Date of Birth'])
Mara_attr_times['Date'] = pd.to_datetime(Mara_attr_times['Date'])
Mara_attr_times['Time'] = pd.to_datetime(Mara_attr_times['Time'], format= "%H:%M:%S") - datetime.datetime(1900, 1, 1)

#Clean the data
Mara_attr_times['Year'] = Mara_attr_times['Date'].apply(year)
Mara_attr_times['Age'] = Mara_attr_times['Date of Birth'].apply(age)
Mara_attr_times['Time'] = Mara_attr_times['Time'].apply(seconds)
Mara_attr_times.drop(columns = ['Date of Birth', 'Gender', 'Event', 'Rank', 'Place', 'City'], inplace= True)

#Merge GDP and Previous Marathons
Mara_attr_times = pd.merge(Mara_attr_times, Number_Marathons, on = "Name")
Mara_attr_times = pd.merge(Mara_attr_times, gdp, on = ['Country', 'Year'], how = "left")
Mara_attr_times["GDP"] = Mara_attr_times["Value"]
Mara_attr_times.drop(columns=['Country', 'Value', 'Rank'], inplace= True)

In [77]:
Athlete_events = pd.read_csv("athlete_events.csv")

Athlete_events = Athlete_events[Athlete_events["Sex"] == "M"]

Athlete_events.drop_duplicates(subset=['Name'], inplace= True)
Athlete_events = Athlete_events.filter(['Name','Weight','Height'])

In [78]:
Mara_attr_times = pd.merge(Mara_attr_times, Athlete_events, on = "Name", how = "left")

In [79]:
TND = Mara_attr_times[["Time", "Name", "Date"]]
TND.sort_values(by = ["Name", "Date"], inplace= True)
TND.sort_values(by = ["Name", "Date"], inplace= True, ascending= False)
TND["Last Time"] = np.nan
print(TND)

       Time                   Name       Date  Last Time
916  7684.0        Zithulele Sinqe 1986-05-03        NaN
936  7688.0          Yusuf Songoka 2011-04-10        NaN
953  7694.0          Yuki Kawauchi 2013-03-17        NaN
954  7695.0          Yuki Kawauchi 2013-02-03        NaN
892  7679.0    Yoshiteru Morishita 2001-03-04        NaN
..      ...                    ...        ...        ...
546  7695.0  Abdelkader El Mouaziz 1999-01-31        NaN
545  7687.0  Abdelkader El Mouaziz 1998-04-26        NaN
538  7662.0          Abayneh Ayele 2017-04-09        NaN
536  7605.0          Abayneh Ayele 2016-01-22        NaN
537  7636.0          Abayneh Ayele 2015-10-11        NaN

[999 rows x 4 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [80]:
for i in range(len(TND)):
 if i < len(TND) - 1:
   if TND.iloc[i,1] == TND.iloc[i+1,1]:
     TND.iloc[i,3] = TND.iloc[i+1,0]
TND.drop(columns= ['Time'], inplace= True)
Mara_attr_times = pd.merge(Mara_attr_times, TND, on = ["Name", "Date"])


Mara_attr_times

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

        Time                       Name       Date  ...  Weight  Height  Last Time
0     7377.0             Dennis Kimetto 2014-09-28  ...     NaN     NaN     7425.0
1     7425.0             Dennis Kimetto 2013-10-13  ...     NaN     NaN     7610.0
2     7456.0             Dennis Kimetto 2012-09-30  ...     NaN     NaN        NaN
3     7550.0             Dennis Kimetto 2015-04-26  ...     NaN     NaN     7377.0
4     7610.0             Dennis Kimetto 2013-02-24  ...     NaN     NaN     7456.0
...      ...                        ...        ...  ...     ...     ...        ...
996   7704.0  Daniel Kipkorir Chepyegon 2010-10-31  ...     NaN     NaN        NaN
997   7704.0          Hiroyuki Horibata 2012-12-02  ...     NaN     NaN        NaN
998   7705.0              Paul Kipsambu 1999-04-04  ...     NaN     NaN        NaN
999   7705.0             Wegayehu Girma 2010-11-07  ...     NaN     NaN        NaN
1000  7705.0           Daniel Kirwa Too 2011-10-23  ...     NaN     NaN        NaN

[1001 rows x 10 columns]

In [81]:
Final_Mara_attr_times = Mara_attr_times.drop(columns= ["Date", "Name"])
Final_Mara_attr_times.rename(columns={"Time": "Results"}, inplace= True)

In [84]:
Final_Mara_attr_times.to_csv('Final_Mara_attr_times.csv', index = False)

In [83]:
# Calc Mean and STD
for col in Final_Mara_attr_times.columns:
  print(col, round(np.nanmean(Final_Mara_attr_times[col]),2), round(np.nanstd(Final_Mara_attr_times[col]),2))

Results 7629.44 64.54
Year 2009.34 6.43
Age 39.56 7.96
Previous marathons 4.17 3.09
GDP 369753182906.83 1553507034473.51
Weight 59.44 4.27
Height 173.09 6.7
Last Time 7615.59 70.08